<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>web app</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <h1>Welcome to Stone Apps</h1>
    <h1>Please enter a number to verify: {{ response }}</h1>
    <h1>Your response is : {{ response }}</h1>
    <p style="background-color: pink;
  font-family: 'Montserrat', sans-serif; color: #11999E;">The answer is: {{ num }}</p>

</body>
<footer>
    <h3 align="center">Copyright {{ year }} @ Stone Apps</h3>
</footer>
</html>